body{
  background-color: #e6eaf2;
  width: 100%;
}
.navbar{
    background: #fff;
    color: #2980B9;
    box-shadow: 0px 0px 8px 0px #000;
    padding: 0.5% 0;
}
a.logo{
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}
.navbar-brand{
    padding:5 15px 5px;
}
.navbar-default .navbar-brand{
    color: #2980B9;
}
/*sidebar*/
#wrapper {
  margin-top: 3.9%;
  padding-left: 380px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
#wrapper .content {
  padding: 5px 15px;
}
#wrapper.toggled {
  padding-left: 0;
}
#wrapper.toggled .sidenav {
  left: -300px;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
.sidenav {
  margin-top: 3.9%;
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3498DB;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 0px 0px 8px 0px #000;
 
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #e8e8e8;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;

}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #fff;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #3498DB;
  color: white;
}
@media (max-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #wrapper.toggled .sidenav {
    left: 0;
    opacity: 1;
  }

  .sidenav {
    left: -300px;
  }
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #3498DB;
  padding-left: 80px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-top: 15px;
  padding-right: 8px;
}